IoT/flows.json
[{"id":"329619b9.df5eee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1dc2a38d.527b44","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e6a191f5.cceb8","type":"mqtt-broker","name":"","broker":"172.31.45.75","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"90f9b2.8673165","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"sensordata","name":"AQ","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://172.31.45.75:8086","rejectUnauthorized":false},{"id":"2d234a84.818296","type":"mqtt-broker","name":"","broker":"172.31.45.75","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"sensordata/sps30","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c7c4a74c.2d29a8","type":"mqtt in","z":"1dc2a38d.527b44","name":"subscribe","topic":"sensordata/sensor","qos":"2","datatype":"json","broker":"e6a191f5.cceb8","nl":false,"rap":false,"x":760,"y":260,"wires":[["441aff82.160288","53e366d3.9ae7"]]},{"id":"53e366d3.9ae7","type":"change","z":"1dc2a38d.527b44","name":"prepare fields","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t  \"sps30 massPM2\": msg.payload.c,\t  \"sps30 massPM10\": msg.payload.t\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":260,"wires":[["8882a02e.49b488","c9570b17.9f8248"]]},{"id":"441aff82.160288","type":"debug","z":"1dc2a38d.527b44","name":"sps30_1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":340,"wires":[]},{"id":"8882a02e.49b488","type":"debug","z":"1dc2a38d.527b44","name":"sps30_2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":340,"wires":[]},{"id":"c9570b17.9f8248","type":"influxdb out","z":"1dc2a38d.527b44","influxdb":"90f9b2.8673165","name":"write to influxdb","measurement":"sps30","precision":"","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organization","bucket":"AQ","x":1360,"y":260,"wires":[]},{"id":"bfa38206.17fa9","type":"mqtt in","z":"1dc2a38d.527b44","name":"subscribe","topic":"sensordata/sensor","qos":"2","datatype":"json","broker":"e6a191f5.cceb8","nl":false,"rap":false,"x":740,"y":620,"wires":[["994e56ec.f63bd","51452cfc.23189c"]]},{"id":"52a24a30.ca513c","type":"mqtt out","z":"1dc2a38d.527b44","name":"publish","topic":"sensordata/sensor","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2d234a84.818296","x":580,"y":420,"wires":[]},{"id":"994e56ec.f63bd","type":"debug","z":"1dc2a38d.527b44","name":"scd30_1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":720,"wires":[]},{"id":"6c2ae1da.e34678","type":"debug","z":"1dc2a38d.527b44","name":"scd30_2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":720,"wires":[]},{"id":"51452cfc.23189c","type":"change","z":"1dc2a38d.527b44","name":"prepare fields","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"scd30 co2\": msg.payload.co,\t    \"scd30 temperature\": msg.payload.te,\t    \"scd30 humidity\": msg.payload.hu\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":620,"wires":[["6c2ae1da.e34678","4fe79df0.ba9474"]]},{"id":"4fe79df0.ba9474","type":"influxdb out","z":"1dc2a38d.527b44","influxdb":"90f9b2.8673165","name":"write to influxdb","measurement":"scd30","precision":"","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organization","bucket":"AQ","x":1340,"y":620,"wires":[]}]
